<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/scroll.css" rel="stylesheet">
</head>

<div th:if="${res!=null}" >
    <div class="ibox-content profile-content" th:if="${res.data.total==0}" style="margin-bottom: 20px;overflow: hidden">
        <p style="text-align: center">什么都没有查到哦</p>
    </div>
    <!--文章列表-->
    <div class="ibox-content profile-content" th:each="articleDto:${res.data.list}" style="margin-bottom: 20px;overflow: hidden">

        <h4>
            <a th:onclick="|openArticle(${articleDto.articleId})|">
                <strong th:text="${articleDto.articleTitle}"></strong>
            </a>
        </h4>
        <p th:text="${#dates.format(articleDto.articleDate, 'yyyy-MM-dd')}"><i class="fa fa-clock-o"></i></p>
        <h5 th:text="${articleDto.userName}">
        </h5>
        <div th:utext="${articleDto.articleContent}" style="overflow-x: scroll;width: 100%">
        </div>
        <div class="row m-t-md">
            <div class="col-md-3">
                <h5><strong th:text="${articleDto.articleLikeCount}"></strong> Likes</h5>
            </div>
            <div class="col-md-9">
                <h5><strong th:text="${articleDto.articleViews}"></strong> Comments</h5>
            </div>
        </div>
    </div>
    <!--换页按钮-->
    <div class="ibox-content">
        <div class="btn-group">
            <!--                上一页按钮-->
            <button type="button" class="btn btn-white" th:if="${res.data['pageNo']>1}"
                    th:onclick="|queryArticleByPageNo(${res.data['pageNo']-1})|">
                <i class="fa fa-chevron-left"></i>
            </button>
<!--            <button type="button" class="btn btn-white" th:if="${res.data['pageNo']==1}">-->
<!--                <i class="fa fa-chevron-left"></i>-->
<!--            </button>-->
            <!--                页数按钮-->
            <div th:each="i: ${#numbers.sequence(res.data['pageNo']-5,res.data['pageNo']+5)}">
                <button class="btn btn-white" th:if="${i>0 and i<=res.data.pages}" th:text="${i}"
                        th:classappend="${res.data.pageNo==i?'active':''}"
                        th:onclick="|queryArticleByPageNo(${i})|">
                </button>

            </div>
            <!--                下一页按钮-->
            <button type="button" class="btn btn-white" th:if="${res.data['pageNo']<res.data.pages}"
                    th:onclick="|queryArticleByPageNo(${res.data['pageNo']+1})|">
                <i class="fa fa-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-white" th:if="${res.data['pageNo']==res.data.pages}">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <!--        发表新主题按钮-->
    <div class=" newArticle" style="margin-bottom: 30px;width: 100%;">
        <div class="ibox-content profile-content" style="overflow: hidden">
            <button type="button" class="btn btn-outline btn-primary newArticle" style="display: inline-block;float: right" onclick="newArticle()">发表新主题</button>
        </div>
    </div>
</div>

<!--点击博文标题打开新界面-->
<script src="/js/myjs/openArticle.js"></script>


</html>