table{
    overflow: hidden;
    display: inline-table;
}
tr{
    display: inline-table;
    margin-bottom: 10px;
}
td{
    display: inline-table;
    margin-right: 20px;
    overflow: hidden;
}
.tlabel{
    width: 80px;
}
.tcheck{
    text-align: right;
}
input[type="text"], input[type="password"]{
    height: 30px;
}